[Desktop Entry]
Type=Application
Name=File Manager
Name[zh_CN]=文件管理
GenericName=File Manager
Comment=matsya File Manager
Exec=matsya-filemanager %u
MimeType=inode/directory;
Icon=file-system-manager
Categories=Qt;System;FileTools;FileManager;
StartupNotify=true
